body {
  background-color: #000;
  color: white;
  font-family: "Times New Roman", Times, serif !important;
  font-weight: 500 !important;
}
.post-page {
  display: grid;
  grid: auto / 25% 45% auto;
  justify-items: start;
  height: 100lvh;
}
.posts {
  display: grid;
  gap: 20px;
  width: 100%;
}
.post {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.451);
  height: fit-content;
}
.go {
  display: grid;
  grid: max-content/ auto;
  gap: 10px;
  align-items: start;
  padding: 10px;
  width: 100%;
  background: none;
  outline: none;
  color: white;
  border: none;
}
.writer-post {
  display: grid;
  grid: repeat(2, max-content) / auto;
  gap: 10px;
  padding-inline: 5px;
  position: relative;
}
.delete-img {
  all: unset;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 67px;
  right: 18px;
  background-color: rgba(255, 255, 255, 0.411);
  color: black;
  padding: 5px;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
}
.delete-img:hover {
  background-color: rgb(255, 255, 255);
}
.text {
  padding-right: 10px;
}
.text {
  resize: none;
  width: 100%;
  min-height: 50px;
  border: none;
  background: transparent;
  color: white;
  transition: all 250ms ease-in-out;
}
.text:hover {
  background-color: #ffffff21;
}
.text:focus-visible {
  outline: none;
}
.writer-post img {
  width: 99%;
  height: 100%;
  border-radius: 10px;
}
.user-img {
  display: flex;
  align-items: center;
  grid: max-content/repeat(2, max-content);
  gap: 10px;
}
.post-writer {
  opacity: 50%;
  transition: all 250ms ease-in-out;
}
.post-writer:hover {
  opacity: 100%;
}

.tweet-submit-area {
  display: grid;
  grid: auto auto / auto;
  gap: 10px;
  padding-right: 25px;
}
.text {
  padding-right: 10px;
}

.tweet-buttons {
  display: grid;
  grid: auto / repeat(5, max-content);
  justify-content: space-between;
  padding-right: 10px;
  padding-bottom: 10px;
  gap: 5px;
  align-items: center;
}
.tweet-icons {
  display: grid;
  grid: auto/repeat(4, auto);
  gap: 5px;
}
.upload {
  background: transparent;
  position: relative;
  outline: none;
  border: none;
  cursor: pointer;
  overflow: hidden;
  width: fit-content;
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 1px;
}
.upload:hover {
  border: 2px solid cyan;
  border-radius: 5px;
  cursor: pointer;
}
.upload input {
  cursor: pointer;
}
.upload input[type="file"] {
  cursor: pointer;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 24px;
  background-color: red;
  height: 24px;
  transform: scale(3);
  opacity: 0%;
}
.post-tweet {
  color: white;
  text-transform: capitalize;
  width: 80px;
  padding: 12px;
  border-radius: 20px;
  border: none;
  background-color: rgb(29, 155, 240);
}
.post-tweet:hover {
  transition: background 500ms ease-in-out;
  background: linear-gradient(180deg, rgb(10, 122, 197), rgb(29, 155, 240));
  cursor: pointer;
}
.tweet-button {
  color: white;
  text-transform: capitalize;
  max-width: 120px;
  padding: 8px 20px;
  border-radius: 20px;
  border: none;
  background-color: rgb(29, 155, 240);
  height: max-content;
}
.tweet-button:hover {
  transition: background 500ms ease-in-out;
  background: linear-gradient(180deg, rgb(10, 122, 197), rgb(29, 155, 240));
  cursor: pointer;
}
.edit-buttons {
  display: flex;
  justify-content: space-between;
  padding-block: 5px 15px;
}

form {
  margin: 0;
}
.hidden {
  display: none;
}
