body {
  background-color: #000;
  color: white;
  font-family: "Times New Roman", Times, serif !important;
  font-weight: 500 !important;
}
.page {
  display: grid;
  grid: auto / 25% 45% auto;
  justify-items: start;
  height: 100lvh;
}
