.left-side {
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 25px;
  width: max-content;
  font-size: 20px;
  text-transform: capitalize;
  padding: 15px;
  grid: repeat(3, max-content) auto / auto;
}
.bird {
  display: grid;
  justify-items: start;
  width: 100%;
  margin-bottom: 25px;
}
.buttons {
  display: grid;
  grid: auto/auto;
  gap: 15px;
}
.bird img {
  width: 40px;
}

.buttons a {
  display: grid;
  gap: 10px;
  grid: 1fr / auto auto;
  align-items: center;
  cursor: pointer;
  padding: 5px 10px;
  width: 180px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  transition: all 250ms ease-in-out;
}
.img img {
  width: 30px;
  height: 30px;
}
.buttons a:hover {
  cursor: pointer;
  background-color: grey;
}
.tweet {
  color: white;
  text-transform: capitalize;
  width: 200px;
  padding: 15px;
  border-radius: 20px;
  border: none;
  background: linear-gradient(180deg, rgb(29, 155, 240), rgb(29, 155, 240));
  transition: all 500ms ease-in-out;
}
button.logout {
  margin-top: 400px;
}
.tweet:hover {
  background: linear-gradient(180deg, rgb(10, 122, 197), rgb(29, 155, 240));
  cursor: pointer;
}
